.comments {
    // width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ratings {
    text-align: center;
}
.review-form {
    margin-top: 40px;
}
.form-elements {
    padding: 10px;
}
.review-submit {
    float: right;
}