/* You can add global styles to this file, and also import other style files */
table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}
tr {
    border-bottom: 1px solid black;
}